/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    #zingchart-1 {
        height: 400px;
        width: 1400px;
    }

    #zingchart-2 {
        height: 700px;
        width: 1400px;
    }

    #zingchart-typeunit{
        height: 400px;
        width: 1400px;
    }

    .zingchart-tooltip {
        padding: 7px 5px;
        border-radius: 1px;
        line-height: 20px;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        -webkit-font-smoothing: antialiased;
    }
    .zingchart-tooltip .scalex-value {
        font-size: 14px !important;
        font-weight: normal !important;
        line-height: 24px;
        color: #838383;
    }
    .zingchart-tooltip .scaley-value {
        color: #4184f3;
        font-size: 24px !important;
        font-weight: normal !important;
    }

    .zc-ref {
        display: none;
    }
}
/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    #zingchart-1 {
        height: 400px;
        width: 960px;
    }

    #zingchart-2 {
        height: 700px;
        width: 960px;
    }

    #zingchart-typeunit{
        height: 400px;
        width: 960px;
    }

    .zingchart-tooltip {
        padding: 7px 5px;
        border-radius: 1px;
        line-height: 20px;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        -webkit-font-smoothing: antialiased;
    }
    .zingchart-tooltip .scalex-value {
        font-size: 14px !important;
        font-weight: normal !important;
        line-height: 24px;
        color: #838383;
    }
    .zingchart-tooltip .scaley-value {
        color: #4184f3;
        font-size: 24px !important;
        font-weight: normal !important;
    }

    .zc-ref {
        display: none;
    }
}
/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    #zingchart-1 {
        height: 400px;
        width: 768px;
    }

    #zingchart-2 {
        height: 700px;
        width: 768px;
    }

    #zingchart-typeunit{
        height: 400px;
        width: 768px;
    }

    .zingchart-tooltip {
        padding: 7px 5px;
        border-radius: 1px;
        line-height: 20px;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        -webkit-font-smoothing: antialiased;
    }
    .zingchart-tooltip .scalex-value {
        font-size: 14px !important;
        font-weight: normal !important;
        line-height: 24px;
        color: #838383;
    }
    .zingchart-tooltip .scaley-value {
        color: #4184f3;
        font-size: 24px !important;
        font-weight: normal !important;
    }

    .zc-ref {
        display: none;
    }
}
/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #zingchart-1 {
        height: 400px;
        width: 720px;
    }

    #zingchart-2 {
        height: 700px;
        width: 720px;
    }

    #zingchart-typeunit{
        height: 400px;
        width: 720px;
    }

    .zingchart-tooltip {
        padding: 7px 5px;
        border-radius: 1px;
        line-height: 20px;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        -webkit-font-smoothing: antialiased;
    }
    .zingchart-tooltip .scalex-value {
        font-size: 14px !important;
        font-weight: normal !important;
        line-height: 24px;
        color: #838383;
    }
    .zingchart-tooltip .scaley-value {
        color: #4184f3;
        font-size: 24px !important;
        font-weight: normal !important;
    }

    .zc-ref {
        display: none;
    }
}
/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    #zingchart-1 {
        height: 400px;
        width: 620px;
    }

    #zingchart-2 {
        height: 700px;
        width: 620px;
    }

    #zingchart-typeunit{
        height: 400px;
        width: 620px;
    }

    .zingchart-tooltip {
        padding: 7px 5px;
        border-radius: 1px;
        line-height: 20px;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        -webkit-font-smoothing: antialiased;
    }
    .zingchart-tooltip .scalex-value {
        font-size: 14px !important;
        font-weight: normal !important;
        line-height: 24px;
        color: #838383;
    }
    .zingchart-tooltip .scaley-value {
        color: #4184f3;
        font-size: 24px !important;
        font-weight: normal !important;
    }

    .zc-ref {
        display: none;
    }
}
/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    #zingchart-1 {
        height: 400px;
        width: 240px;
    }

    #zingchart-2 {
        height: 700px;
        width: 240px;
    }

    #zingchart-typeunit{
        height: 400px;
        width: 240px;
    }

    .zingchart-tooltip {
        padding: 7px 5px;
        border-radius: 1px;
        line-height: 20px;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        -webkit-font-smoothing: antialiased;
    }
    .zingchart-tooltip .scalex-value {
        font-size: 14px !important;
        font-weight: normal !important;
        line-height: 24px;
        color: #838383;
    }
    .zingchart-tooltip .scaley-value {
        color: #4184f3;
        font-size: 24px !important;
        font-weight: normal !important;
    }

    .zc-ref {
        display: none;
    }
}